/* * { 
    outline: 1px solid red !important; 
    } */
    body {
        background-color: #b9bcc0;
    }
    body {
        font-family: 'Signika Negative', sans-serif;
        font-weight: 400;
    }
.sprint-12 {
    margin: auto;
}
.box-model {}

.thumb {
    max-height: 260px;
    max-width: 240px;
}