/* * { 
    outline: 1px solid red !important; 
    } */
    .main {
        background-color: #bbbbbb;
    }
body {
        background-color: #f8f9fa;
        font-family: 'Signika Negative', sans-serif;
        font-weight: 400;
    }
nav {
        max-height: 15%;
}

.sprint-12 {
    margin: auto;
}

.thumb {
    max-height: 260px;
    max-width: 240px;
    border-radius: 150px;

}

.image {
    border-color: #000000;
    border-style: solid;
}

p {
    padding-left: 10%;
    padding-right: 10%;
}

h4 {
    padding-left: 20%;
    padding-right: 20%;
}
.pets {
    max-height: 100%;
    max-width: 100%;
    border-color: #000000;
    border-style: solid;
}