/* * { 
    outline: 1px solid red !important; 
    } */

    body {
        background-color: #bbbbbb;
        font-family: 'Signika Negative', sans-serif;
        font-weight: 400;
    }
.sprint-12 {
    margin: auto;
}

.thumb {
    max-height: 260px;
    max-width: 240px;
    border-radius: 150px;
    border-color: #000000;
    border-style: solid;
}
